<div class="container mx-auto p-4">
  <div class="flex justify-end items-center mb-3">
    <button mat-fab extended (click)="onAddClick()">
      <mat-icon>add</mat-icon>
      Add New Certificate Type
    </button>
  </div>
  <div class="overflow-x-auto">
    <table mat-table [dataSource]="dataSource" class="w-full">
      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            color="accent"
            (click)="editCertificateType(element)"
            class="text-yellow-600 hover:text-yellow-800"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            (click)="deleteCertificateType(element.id)"
            class="text-red-600 hover:text-red-800"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="hover:bg-gray-50"
      ></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of certificate types"
    >
    </mat-paginator>
  </div>
</div>
<router-outlet name="modal"></router-outlet>
