<div class="modal-container">
  <div class="modal-content">
    <div class="modal-header">
      <div class="breadcrumb">
        <span>Certificate Types</span>
        <span class="mx-2">></span>
        <span>Edit Type</span>
      </div>
      <button
        mat-icon-button
        class="close-button"
        (click)="closeModal()"
        class="flex flex-col"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <form [formGroup]="typeForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" required />
        <mat-error *ngIf="typeForm.get('title')?.hasError('required')">
          Title is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          formControlName="description"
          required
          rows="4"
        ></textarea>
        <mat-error *ngIf="typeForm.get('description')?.hasError('required')">
          Description is required
        </mat-error>
      </mat-form-field>

      <div class="form-actions">
        <button mat-fab extended type="button" (click)="onCancel()">
          <mat-icon>close</mat-icon>
          Cancel
        </button>
        <button mat-fab extended type="submit" [disabled]="!typeForm.valid">
          <mat-icon>save</mat-icon>
          Save
        </button>
      </div>
    </form>
  </div>
</div>
