<div class="modal-container">
  <div class="modal-content">
    <div class="modal-header">
      <div class="breadcrumb">
        <span>Certificate Types</span>
        <span class="mx-2">></span>
        <span>Create Type</span>
      </div>
      <button mat-icon-button class="close-button" (click)="closeModal()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <form [formGroup]="typeForm" (ngSubmit)="onSubmit()" class="flex flex-col">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input
          matInput
          formControlName="title"
          placeholder="Enter certificate type title"
        />
        <mat-error *ngIf="typeForm.get('title')?.hasError('required')">
          Title is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          formControlName="description"
          placeholder="Enter certificate type description"
          rows="3"
        ></textarea>
        <mat-error *ngIf="typeForm.get('description')?.hasError('required')">
          Description is required
        </mat-error>
      </mat-form-field>

      <div class="form-actions">
        <button mat-fab extended type="button" (click)="onCancel()">
          <mat-icon>close</mat-icon>
          Cancel
        </button>
        <button mat-fab extended type="submit" [disabled]="!typeForm.valid">
          <mat-icon>add</mat-icon>
          Create
        </button>
      </div>
    </form>
  </div>
</div>
