<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- First Name Column -->
  <ng-container matColumnDef="first_name">
    <th mat-header-cell *matHeaderCellDef>First Name</th>
    <td mat-cell *matCellDef="let crew">{{ crew.first_name }}</td>
  </ng-container>

  <!-- Last Name Column -->
  <ng-container matColumnDef="last_name">
    <th mat-header-cell *matHeaderCellDef>Last Name</th>
    <td mat-cell *matCellDef="let crew">{{ crew.last_name }}</td>
  </ng-container>

  <!-- Nationality Column -->
  <ng-container matColumnDef="nationality">
    <th mat-header-cell *matHeaderCellDef>Nationality</th>
    <td mat-cell *matCellDef="let crew">{{ crew.nationality }}</td>
  </ng-container>

  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let crew">
      {{ crew.title.name }} - {{ crew.title.description }}
    </td>
  </ng-container>

  <!-- Days on Board Column -->
  <ng-container matColumnDef="days_on_board">
    <th mat-header-cell *matHeaderCellDef>Days on Board</th>
    <td mat-cell *matCellDef="let crew">{{ crew.days_on_board }}</td>
  </ng-container>

  <!-- Daily Rate Column -->
  <ng-container matColumnDef="daily_rate">
    <th mat-header-cell *matHeaderCellDef>Daily Rate</th>
    <td mat-cell *matCellDef="let crew">{{ crew.daily_rate }}</td>
  </ng-container>

  <!-- Currency Column -->
  <ng-container matColumnDef="currency">
    <th mat-header-cell *matHeaderCellDef>Currency</th>
    <td mat-cell *matCellDef="let crew">{{ crew.currency }}</td>
  </ng-container>

  <!-- Total Income Column -->
  <ng-container matColumnDef="total_income">
    <th mat-header-cell *matHeaderCellDef>Total Income</th>
    <td mat-cell *matCellDef="let crew">{{ crew.total_income }}</td>
    <td mat-footer-cell *matFooterCellDef>Total Income: {{ totalIncome() }}</td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let crew">
      <button mat-icon-button (click)="goCrewDetail(crew.slug)">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-icon-button (click)="editCrew(crew.slug)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteCrew(crew.slug)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  <tr mat-footer-row *matFooterRowDef="['total_income']"></tr>
</table>
<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  aria-label="Select page of periodic elements"
>
</mat-paginator>
