<aside class="mt-6 mr-6 p-6">
  <mat-list>
    <mat-list-item class="mt-12">
      <a
        class="text-white hover:underline text-xl flex items-center gap-2"
        routerLink="/"
        routerLinkActive="underline"
        [routerLinkActiveOptions]="{ exact: true }"
        ariaCurrentWhenActive="page"
        ><mat-icon>home</mat-icon> Dashboard</a
      >
    </mat-list-item>
    <mat-list-item>
      <a
        class="text-white hover:underline text-xl flex items-center gap-2"
        routerLink="/certificate/list"
        routerLinkActive="underline"
        [routerLinkActiveOptions]="{ exact: true }"
        ariaCurrentWhenActive="page"
      >
        <mat-icon>redeem</mat-icon> Certificates</a
      >
    </mat-list-item>
    <mat-list-item>
      <a
        class="text-white hover:underline text-xl flex items-center gap-2"
        routerLink="/certificate-type/list"
        routerLinkActive="underline"
        [routerLinkActiveOptions]="{ exact: true }"
        ariaCurrentWhenActive="page"
        ><mat-icon>format_list_numbered</mat-icon>Certificate Types</a
      >
    </mat-list-item>
  </mat-list>
</aside>
