<div class="modal-container">
  <div class="modal-content">
    <div class="modal-header">
      <div class="breadcrumb">
        <span>Certificates</span>
        <span class="mx-2">></span>
        <span>Add Certificate</span>
      </div>
      <button mat-icon-button class="close-button" (click)="closeModal()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <form
      [formGroup]="certificateForm"
      (ngSubmit)="onSubmit()"
      class="flex flex-col"
    >
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input
          matInput
          formControlName="title"
          placeholder="Enter certificate title"
        />
        <mat-error *ngIf="certificateForm.get('title')?.hasError('required')">
          Title is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          formControlName="description"
          placeholder="Enter certificate description"
          rows="3"
        ></textarea>
        <mat-error
          *ngIf="certificateForm.get('description')?.hasError('required')"
        >
          Description is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let type of certificateTypes" [value]="type">
            {{ type.title }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="certificateForm.get('type')?.hasError('required')">
          Type is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Issue Date</mat-label>
        <input
          matInput
          [matDatepicker]="issueDatePicker"
          formControlName="issue_date"
          placeholder="Choose issue date"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="issueDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #issueDatePicker></mat-datepicker>
        <mat-error
          *ngIf="certificateForm.get('issue_date')?.hasError('required')"
        >
          Issue date is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Expiration Date</mat-label>
        <input
          matInput
          [matDatepicker]="expirationDatePicker"
          formControlName="expiration_date"
          placeholder="Choose expiration date (optional)"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="expirationDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #expirationDatePicker></mat-datepicker>
      </mat-form-field>

      <div class="form-actions">
        <button mat-fab extended type="button" (click)="onCancel()">
          <mat-icon>close</mat-icon>
          Cancel
        </button>
        <button
          mat-fab
          extended
          type="submit"
          [disabled]="!certificateForm.valid"
        >
          <mat-icon>add</mat-icon>
          Create
        </button>
      </div>
    </form>
  </div>
</div>
